@charset "UTF-8";
/* Regra @charset é usada para que não haja problemas com acentuação*/
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: lightgoldenrodyellow;
        color: blue;
        font-size: 20px;
    }
    h1 {
        color: maroon;
        background-color: goldenrod;
    }

    h2 {
        color: purple;
    }

    p {
        color: black;
        text-align: justify;
    }

    